# Build
build/
app/build/
.gradle/
*.apk
*.aab

# Secrets
google-services.json
app/google-services.json
serviceAccount.json
*.jks
*.keystore

# Data & Temp
*.pdf

!package.json

*.jpg
ocr_old/
node_modules/
*.log
*.tmp


# IDE
.idea/
*.iml
.vscode/
